html {
    font-size: 62.5%;
}
body {
    font-size: 16px; /* 1 rem =10px */
}

/* Estilos generales */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #F5F5F5;
}

/* Estilos para main.html */
header {
    /* Encabezado de la página */
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2rem;
    background-color: #e3aaaa;
    color: #fff;
    border-bottom: 1px solid #ddd;
    position: relative;
}

.logo {
    height: 10rem;
    margin-right: 2rem;
}

.header-left {
    display: flex;
    align-items: center;
    flex: 1;
    justify-content: center;
}

.header-right {
    display: flex;
    align-items: center;
}

#cerrarSesion {
    /* Botón de cerrar sesión */
    padding: 1.5rem 3rem;
    background-color: #434446;
    color: white;
    border: none;
    border-radius: 0.5rem;
    cursor: pointer;
}

#cerrarSesion:hover {
    background-color: #333;
}