html {
    font-size: 62.5%;
}
body {
    font-size: 16px; /* 1 rem =10px */
}

/* Estilos generales */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #F5F5F5;
}

/* Estilos para el index.html */
body.login-page {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.login-container {
    /* Contenedor de inicio de sesión */
    background-color: #ffffff;
    padding: 2rem;
    border-radius: 5px;
    box-shadow: 0 4px 8px #E3AAAA;
    text-align: center;
}

.login-container h1 {
    margin-bottom: 2rem;
}

.login-container form {
    display: flex;
    flex-direction: column;
}

.login-container label {
    margin-bottom: 5px;
}

.login-container input {
    margin-bottom: 1rem;
    padding: 1rem;
    border: 1px solid #ccc;
    border-radius: 3px;
}

.login-container button {
    padding: 1rem;
    border: none;
    background-color: #7A7B7A;
    color: white;
    border-radius: 3px;
    cursor: pointer;
}

.login-container button:hover {
    background-color: #0056b3;
}

/* Estilo para el mensaje de error */
#loginMessage {
    color: red;
    margin-top: 1rem;
    font-weight: bold;
    text-align: center;
}

/* Estilos para main.html */
header {
    /* Encabezado de la página */
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2rem;
    background-color: #e3aaaa;
    color: #fff;
    border-bottom: 1px solid #ddd;
    position: relative;
}

.logo {
    height: 10rem;
    margin-right: 2rem;
}

.header-left {
    display: flex;
    align-items: center;
    flex: 1;
    justify-content: center;
}

.header-right {
    display: flex;
    align-items: center;
}

#cerrarSesion {
    /* Botón de cerrar sesión */
    padding: 1.5rem 3rem;
    background-color: #434446;
    color: white;
    border: none;
    border-radius: 0.5rem;
    cursor: pointer;
}

#cerrarSesion:hover {
    background-color: #333;
}

.main-container {
    display: flex;
    padding: 2rem;
    background-color: #f1f1f1;
    height: 75vh;
    overflow-y: auto;
    justify-content: space-between;
}

nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    width: 20rem;
}

nav ul li {
    margin-bottom: 2rem;
}

nav ul li a {
    text-decoration: none;
    color: #333;
    padding: 1rem;
    display: block;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 5px;
}

nav ul li a:hover {
    background-color: #91c3f9;
    color: white;
}

/* Estilos para la sección de búsqueda de cliente */
section {
    background-color: rgb(255, 255, 255);
    padding: 2rem;
    margin-bottom: auto;
    margin-left: 2rem;
    border-radius: 0.3rem;
    box-shadow: 0 0 1rem rgba(0, 0, 0, 0.1);
}

#buscarClienteForm {
    display: inline-block;
    flex-direction: column;
    margin-bottom: 2rem;
}

#buscarClienteForm label,
#buscarClienteForm input {
    width: 65%;
}

#buscarClienteForm input {
    padding: 1rem;
    margin-bottom: 1rem;
    border: 0.06rem solid #ccc;
    border-radius: 0.18rem;
}

/* Estilos para la sección Cliente Encontrado */
#clienteEncontradoSection {
    display: flex;
    align-items: center;
    width: 40%;
    background-color: #DFE1DE;
    margin-right: 2rem;
    text-align: center;
    padding: 2rem;
}

#clienteEncontrado p {
    margin: 0.3px 0;
}

/* Estilos para la sección Agregar Cliente */
#addClienteForm {
    width: 80%;
    margin-right: 10rem;
}

#addClienteForm label,
#addClienteForm input {
    display: block;
    flex-direction: column;
    width: 100%;
}

#addClienteForm input {
    padding: 1rem;
    margin-bottom: 0;
    border: 1px solid #ccc;
    border-radius: 3px;
}

/* Estilos para la sección de edición de cliente */
#editSection {
    width: 50%;
    background-color: white;
    padding: 2rem;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

/* Estilos para el formulario de edición de cliente */
#editClienteForm {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 0.5rem;
}

#editClienteForm label {
    align-self: center;
    margin-bottom: 0.5rem;
}

#editClienteForm input {
    width: 50%;
    padding: 1rem;
    border: 1px solid #ccc;
    border-radius: 3px;
}

#editClienteForm button {
    padding: 1rem 2rem;
    margin-right: 2rem;
}

/* Estilos para los botones */
button {
    padding: 1rem 2rem;
    border: none;
    background-color: #434446;
    color: white;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 1rem;
}

button:hover {
    background-color: #004494;
}

footer {
    padding: 1rem 2rem;
    text-align: center;
    background-color: #B1B3B1;
    color: #ffffff;
    font-size: 1.5rem;
    border-top: 1px solid #ddd;
    position: fixed;
    width: 100%;
    bottom: 0;
}
