html {
    font-size: 62.5%;
}
body {
    font-size: 16px; /* 1 rem =10px */
}


/* Estilos generales */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f0f0f0;
}

/* Estilos para el index.html (página de inicio de sesión) */
body.login-page {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.login-container {
    background-color: #ffffff;
    padding: 2rem;
    border-radius: 5px;
    box-shadow: 0 0 1rem rgba(0, 0, 0, 0.1);
    text-align: center;
}

.login-container h1 {
    margin-bottom: 2rem;
}

.login-container form {
    display: flex;
    flex-direction: column;
}

.login-container label {
    margin-bottom: 5px;
}

.login-container input {
    margin-bottom: 1rem;
    padding: 1rem;
    border: 1px solid #ccc;
    border-radius: 3px;
}

.login-container button {
    padding: 1rem;
    border: none;
    background-color: #5588ef;
    color: white;
    border-radius: 3px;
    cursor: pointer;
}

.login-container button:hover {
    background-color: #0056b3;
}

/* Estilos para main.html (página principal) */
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2rem;
    background-color: #f6a8c1;
    border-bottom: 1px solid #ddd;
}

.header-left {
    display: flex;
    align-items: center;
}

.logo {
    height: 5rem;
    margin-right: 15px;
}

.header-right {
    display: flex;
    align-items: center;
}

#cerrarSesion {
    padding: 1rem 2rem;
    background-color: #434446;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

#cerrarSesion:hover {
    background-color: #434446;
}

.main-container {
    display: flex;
    padding: 2rem;
    background-color: #f1f1f1;
    height: calc(100vh - 10rem); /* Ajusta la altura restando header y footer */
    overflow-y: auto; /* Para permitir desplazamiento si el contenido es largo */
    justify-content: space-between; /* Añadir espacio entre las secciones */
}

nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    width: 20rem; /* Fija el ancho del menú */
}

nav ul li {
    margin-bottom: 1rem;
}

nav ul li a {
    text-decoration: none;
    color: #333;
    padding: 1rem;
    display: block;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 5px;
}

nav ul li a:hover {
    background-color: #91c3f9;
    color: white;
}

/* Estilos para la sección de búsqueda de cliente */
section {
    background-color: white;
    padding: 2rem;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    
}

/* Estilos para la sección de búsqueda de cliente */
#buscarClienteForm {
    display: inline-block;
    flex-direction: column;
    margin-bottom: 2rem;
}

#buscarClienteForm label,
#buscarClienteForm input {
    width: 65%;
}

#buscarClienteForm input {
    padding: 1rem;
    margin-bottom: 1rem;
    border: 1px solid #ccc;
    border-radius: 0.18rem;
}

/* Estilos para la sección Cliente Encontrado */
#clienteEncontradoSection {
    width: 50%; /* Ocupa la mitad del espacio disponible a la izquierda */
    margin-right: 2rem; /* Añade espacio a la derecha de la sección */
}

#clienteEncontrado p {
    margin: 5px 0;
}

/* Estilos para la sección Agregar Cliente */
#addClienteForm {
    width: 50%; /* Ocupa la mitad del espacio disponible a la derecha */
    margin-right: 2rem; /* Añade espacio a la izquierda de la sección */
}

#addClienteForm label,
#addClienteForm input {
    display: block;
    width: 100%;
}

#addClienteForm input {
    padding: 1rem;
    margin-bottom: 1rem;
    border: 1px solid #ccc;
    border-radius: 3px;
}

/* Estilos para los botones */
button {
    padding: 1rem 2rem;
    border: none;
    background-color:  #434446; 
    color: white;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 10px;
}

button:hover {
    background-color: #004494;
}

#cancelEdit {
    background-color: #ccc; /* Color gris para el botón cancelar */
    color: black;
}

#cancelEdit:hover {
    background-color: #bbb;
}

footer {
    padding: 10px 20px;
    text-align: center;
    background-color: #716f6f;
    border-top: 1px solid #ddd;
    position: fixed;
    width: 100%;
    bottom: 0;
}
